@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700;800;900&family=Bellefair&family=Crimson+Text:wght@400;600&family=DM+Sans:wght@400;500;700&family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,600;1,700;1,800&family=IBM+Plex+Sans:wght@300;500;600;700&family=Instrument+Serif&family=Inter:wght@200;300;400;500;600;700;800;900&family=Kanit:wght@200;300;400;500;600;700;800;900&family=Lato:wght@400;900&family=Noto+Serif+NP+Hmong&family=Nunito:wght@400;500;600;700;800;900;1000&family=Oswald:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,600&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600&family=Ubuntu:ital,wght@1,700&display=swap');

body{
    margin: 0;
    background: #F1F1F1"
}
/* ==========================   NAVBAR =============== */
nav{
    width: 100%;
    height: 56px;
    background: #303030;
    display: flex;
    align-items: center;
}
.profile h1{
    display: none;
}
.nav-items{
    width: 90%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 10%;
    /* border: 1px solid red; */
}
.logo .mobile{
    display: block;
}
.logo .desktop{
    display: none;
}

form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 70%;
    background: #303030;
    border-radius: 8px;
    border: 1px #616161 solid;
}
form:hover{
    border: 1px #E1E1E1 solid;
}
form:focus{
    border: 2px white solid;
}
form:active{
    border: 2px white solid;
}
form input{
    height: 100%;
    width: 80%;
    background: #303030;
    border: none;
    border-radius: 8px;
    outline: none;

}
form input::placeholder{
    color: #B5B5B5;
    font-size: 13px;
    display: flex;
    align-items: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 18.20px;
    word-wrap: break-word
}
form svg{
    width: 8%;
    margin-left: 10px;
    color: #B5B5B5;
}

.items{
    width: 22%;
    height: 80%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.items svg{
    width: 40%;
}
.profile{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#36FBA1 ;
    border-radius: 8px;
}
.profile p{
    color: rgba(0, 0, 0, 0.40);
font-size: 12px;
font-family: Inter;
font-weight: 500;
line-height: 15.60px;
word-wrap: break-word;
}
/* ========================== PROFILE DROPDOWN =============== */
.profile-dropdown{
 
    width: 90%;
    height: 384px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05); 
    border-radius: 14px; 
    border: 1px #DBDBDB solid;
    position: absolute;
    background: white;
    right: 2.5%;
    top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0px;
    padding: 10px 5px 50px 10px;
    align-content: flex-start;
    display: none;
}
.profile-dropdown.active{
    display: block;
}
.first-sec{
    width: 95%;
}
.user{
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F1F1F1; border-radius: 8px;
}
.user-profile{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 5px;
}
.user-profile p{
    padding: 5px;
     background: #36FBA1;
     border-radius: 5.25px;
      overflow: hidden;
       justify-content: center;
        align-items: center;
     display: inline-flex;
     color: rgba(0, 0, 0, 0.40);
     font-size: 10.50px;
     font-family: Inter;
     font-weight: 500;
     line-height: 14.70px;
     word-wrap: break-word
}
.user-profile h6{
    color: #303030;
    font-size: 13px;
    font-family: Inter;
    font-weight: 600;
    line-height: 18.20px;
    word-wrap: break-word;
}
.check{
    margin-right: 5px;
}
.store {
    width: 95%;
    display: flex;
    gap: 8px;
    height: 20px;
    margin-top: 4px;
    padding: 4px;
    align-items: center;
    cursor: pointer;
}

.store p{
    color: #303030;
    font-size: 13px;
    font-family: Inter;
    font-weight: 400;
    line-height: 18.20px;
    word-wrap: break-word
}
.profile-dropdown hr{
    width: 100%;
    border: .75px solid #E1E1E1;
}
.second-sec{
    display: flex;
    width: 95%;
    flex-direction: column;
    gap: 10px;
}
.second-sec li{
    list-style: none;
    text-align: left;
    padding: 4px;
    height: 20px;
}

.second-sec li a{
    text-decoration: none;
    color: #303030;
    font-size: 13px;
    font-family: Inter;
    font-weight: 400;
    line-height: 18.20px;
    word-wrap: break-word;
}
.third-sec{
    width: 95%;
    flex-direction: column;
    gap: 10px;
    display: flex;
}
.more-user-info h2{
    color: #303030;
    font-size: 13px;
    font-family: Inter;
    font-weight: 500;
    line-height: 13.20px;
    word-wrap: break-word;
}
.more-user-info p{
    color: #616161;
    font-size: 12px;
    font-family: Inter;
    font-weight: 400;
    line-height: 0px;
    word-wrap: break-word;
}
.third-sec a{
    color: #303030;
    font-size: 13px;
    font-family: Inter;
    font-weight: 400;
    line-height: 18.20px;
    word-wrap: break-word;
    text-decoration: none;
}
.third-sec li{
    list-style: none;
    padding: 4px;
    height: 20px;
}
.third-sec li:hover{
    background:#F1F1F1 ;
    width: 98%;
    border-radius: 5px;
}
/* ========================== ALERT POPUP =============== */
.alert-popup{
    width: 90%;
    position: absolute;
    height: 136px;
    top: 22%;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 14px; 
    border: 1px #DBDBDB solid;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    display: none;
}
.alert-popup.active{
    display: block;
}
.alert-popup-info{
    width: 90%;
    margin: 0 auto;

}
.alert-popup-info .texts{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.alert-popup-info .texts h1{
    color: #303030;
    font-size: 14px;
    font-family: Inter;
    font-weight: 600;
    line-height: 19.60px;
    word-wrap: break-word;
}
.icon-area{

}
.alert-msg{
    background: #F1F1F1;
    height: 50%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alert-msg p{
    color: #303030;
    font-size: 13px;
    font-family: Inter;
    font-weight: 600;
    line-height: 18.20px;
    word-wrap: break-word;
    text-align: center;
}
/* ========================== INFO BOX =============== */
.info-box{
    margin-top: 28px;
    height: 134px;
    width: 100%;
    background: #1A1A1A;
    display: flex;
    flex-wrap: wrap;
}
.info-text{
    width: 90%;
    padding-top: 10px;
    margin: 0 auto;
    display: flex;

}
.info-text svg{
    margin-top: 8px;
}
.info-text p{
    color: #E3E3E3;
font-size: 13px;
font-family: Inter;
font-weight: 500;
line-height: 18.20px;
word-wrap: break-word
}
.info-btn{
    width: 90%;
    margin: 0 auto;
  
}
.info-btn button{
    width: 120px;
    height: 30px;
    background: white; 
    box-shadow: 0px -1px 0px #B5B5B5 inset;
     border-radius: 6px;
      overflow: hidden;
       border: 1px rgba(0, 0, 0, 0.10) solid; 
    color: #323232;
    font-size: 12px;
    font-family: Inter;
    font-weight: 600;
    line-height: 15.60px;
    word-wrap: break-word;
    padding: 6px 12px;
}
/*======== SETUP GUIDE AREA ========*/
.setup{
    width: 100%;
    height: auto;
}
summary {
    list-style: none;
}

/* Remove the default list marker for the summary element */
summary::-webkit-details-marker {
    display: none;
}

/* Additional styling if needed */
.first-dropdown{
    width: 100%;
    margin-top: 5vh;
    height: auto;
    padding-bottom: 10px;
    background: white; box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05); border: 1px #DBDBDB solid;
}
.first-area{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
}
.first-area .texts h1{
    color: #303030;
    font-size: 14px;
    font-family: Inter;
    font-weight: 600;
    line-height: 19.60px;
    word-wrap: break-word
}
.first-area .texts p{
    color: #303030;
    font-size: 13px;
    font-family: Inter;
    font-weight: 400;
    line-height: 18.20px;
    word-wrap: break-word;
}
/* ==========PROGRESS BAR======== */
.progress-bar-sec{
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    align-items: center;
}
.progress-bar-sec p{
    color: #303030;
    font-size: 12px;
    font-family: Inter;
    font-weight: 400;
    line-height: 15.60px;
    word-wrap: break-word; 
}
.progress-bar{
    width: 100px;
    height: 4px;
    border-radius: 28px;
    background:#E3E3E3 ;
}
.progress-bar::after{
    content: '';
    display: block;
    width: var(--width, 0px);
    transition: 0.3s;
    height: 4px;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    background: #1A1A1A;
}
/* ========== SETUP GUIDE ARROW======== */
.arrow{
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.arrow.active{
    transform: rotate(180deg);
    border: 2px #005BD3 solid;   
    background: #F0F0F0;
}
.arrow:hover{
    background: #F0F0F0;
}
/* ============== STEPS ============== */
.step-1{
    
    /* background: #F3F3F3; */
    width: 90%;
    margin: 0 auto;
    max-height: 10px;
    overflow: hidden;
    padding: 20px 8px;
    border-radius: 10px;
    display: flex;
    transition: 0.5s;
    justify-content:space-between;
}
.step-1.active{
    max-height: 200px;
    background:#F3F3F3 ;
    margin: 10px auto;
}

/* .step-1 .text p.active{
    display: block;
}
.step-1 .text button.active{
    display:block !important;
} */
.shorten-form{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    display: none;
}
.shorten-form p{
    color: #303030;
    font-size: 13px;
    font-family: Inter;
    font-weight: 500;
    line-height: 18.20px;
    word-wrap: break-word;
}
/* ==checkbox== */
.check-box{
    position: relative;
}
.checkbox{
    position: relative;
    z-index: 99;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    outline: none;
    margin-top: 2px;
    border: 2.08px #8A8A8A dashed;
    transition: 0.4s;
}
.checkbox:hover{
    border-style: solid !important;
}
.checkbox.active{
    opacity: 0;
    transition-delay: 0.4s;
}
.checked{
    display: none;
    position: absolute;
    top: 0;
    margin-top: 2px;
    opacity: 0;
    animation-name: check;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-delay: 1.0s;
    animation-iteration-count: 1;
    transform: rotate(-45deg);
    animation-fill-mode: forwards;
}
.checked.active{
    display: block;
}
@keyframes check {
    0%{
        opacity: 0.6;
        transform: rotate(-45deg);
    }
    100%{
        opacity: 1;
        transform: rotate(0deg);
    }
}

.rolling-animation{
    display: none;
    position: absolute;
    top: 0;
    margin-top: 2px;
    opacity: 0;
    animation: circle 1s linear 0.4s 1 ;
}
.rolling-animation.active{
    display:block;
}
@keyframes circle {
    0%{
        opacity: 0;
        transform: rotate(2deg);
    }
    50%{
        opacity: 1;
        transform: rotate(270deg);
    }
    100%{
        opacity: 0;
        transform: rotate(360deg);
    }
}
.step-1 .text{

    width: 88%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
.step-1 .text h1{
    color: #303030;
    font-size: 13px;
    font-family: Inter;
    font-weight: 600;
    line-height: 18.20px;
    word-wrap: break-word
}
.step-1 .text p{
    color: #616161;
    font-size: 13px;
    font-family: Inter;
    font-weight: 500;
    line-height: 18.20px;
    word-wrap: break-word;
}

.step-1 .text p a{
    color: #005BD3;
    font-size: 14px;
    font-family: Inter;
    text-decoration: none;
    line-height: 19.60px;
}
.step-1 .text button{
    width: 127px;
    height: 28px;
    background: #404040;
     box-shadow: 0px 0px 0px 1.5px #333333; 
     border-radius: 6px; overflow: hidden;
      border-left: 1.50px rgba(255, 255, 255, 0.20) solid; border-top: 1.50px rgba(255, 255, 255, 0.20) solid; border-right: 1.50px rgba(255, 255, 255, 0.20) solid;
     justify-content: center; 
      align-items: center;
       gap: 8px;
        display: inline-flex;
        color: #F6F3F6;
        font-size: 12px;
        font-family: Inter;
        font-weight: 600;
        line-height: 15.60px;
        word-wrap: break-word
}

.step-img{
    display: none;
}
.button-div{
    display: flex;
    gap: 30px;
    align-items: center;
}
.button-div p{
    color: #323232;
    font-size: 12px;
    font-family: Inter;
    font-weight: 600;
    line-height: 15.60px;
    word-wrap: break-word;
}
/* .arrow:active{
    background: #F0F0F0;
    border: 2px #005BD3 solid;
} */
@media screen and (min-width:1000px) {
    /* ==========================   NAVBAR =============== */
    .nav-items{
        width: 98%;
    }
    nav{
        background: #1A1A1A;
    }
    form{
        width: 30%;
    }
    form input{
        width: 90%;
    }
    .logo{
        width: 30%;
        /* border: 1px solid red; */
    }
    .logo .mobile{
        display: none;
    }
    .logo .desktop{
        display: block;
    }
    .items{
        width: 30%;
        justify-content: end;
    }
    .profile{
        height: 100%;
        width: 40%;
        border-radius: 8px;
        background: #303030;
        display: flex ;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        cursor: pointer;
    }
    .profile:hover{
        background-color: #616161;
    }
    .profile:active{
        box-shadow: 0px 0px 0px 3px #005BD3;
    }
    .profile p{
        width: 28px;
        background: #36FBA1;
        padding: 1px 2px;
        border-radius: 8px;
        height: 28px;
        display: flex ;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        margin-right: 5px;
        cursor: pointer;
    }
    .profile h1{
        display: block;
        color: #E3E3E3;
        font-size: 12px;
        font-family: Inter;
        font-weight: 500;
        line-height: 15.60px;
        padding-left: 10px;
        word-wrap: break-word;
        cursor: pointer;
    }
    form svg{
        width: 3%;
        margin-left: 10px;
    }
    form input::placeholder{
        font-size: 15px;
    }
    .items svg{
        width: 5%;
        background:#303030 ;
        height: 100%;
        padding: 0 8px;
        border-radius: 8px;
        cursor: pointer;
    }
    .items svg:hover{
        background-color: #616161;
    }
    .items svg:active{
        box-shadow: 0px 0px 0px 3px #005BD3;
    }
    /* ========================== STEP GUIDE =============== */
    main{
        width: 60%;
        margin: 0 auto;
    }
    .info-text
    {
       justify-content: space-between;
       width: 80%;
       margin: 0;
    }
    .info-text svg{
        margin-top: 4px;
    }
    .info-text p{
        margin-left: 10px;
    }
    .info-box{
        align-items: center;
        height: 56px;
        border-radius: 8px;

    }
    .info-btn{
        /* border: 1px solid red; */
        width: 10%;
    }
    .first-dropdown{
        height: auto;
        border-radius: 18px; border: 1px #DBDBDB solid; 
    }
    .step-img{
        display: none;
        margin-left: auto;
    }
    .step-1{
        gap: 10px;
        justify-content:flex-start;
        padding-bottom: 20px;
    }
    .step-1 .text{
        width: 50%;
    }
    .step-img.active{
        display: block;
    }
    /* ========================== ALERT POPUP =============== */
.alert-popup{
    width: 30%;
    left: 68%;
    top: 8%;
    transform: none;
}
.alert-msg{
    display: flex;
    justify-content: center;
    align-items: center;

}
/* ========================== PROFILE DROPDOWN =============== */
.profile-dropdown{
    width: 20%;
    right: 1%;
    top: 8%;
}
.second-sec li:hover{
    background:#F1F1F1 ;
    width: 98%;
    border-radius: 5px;
    cursor: pointer;
}
.store:hover{
    background:#F1F1F1 ;
    width: 98%;
    border-radius: 5px;
    cursor: pointer;
}
}