@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700;800;900&family=Bellefair&family=Crimson+Text:wght@400;600&family=DM+Sans:wght@400;500;700&family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,600;1,700;1,800&family=IBM+Plex+Sans:wght@300;500;600;700&family=Instrument+Serif&family=Inter:wght@200;300;400;500;600;700;800;900&family=Kanit:wght@200;300;400;500;600;700;800;900&family=Lato:wght@400;900&family=Noto+Serif+NP+Hmong&family=Nunito:wght@400;500;600;700;800;900;1000&family=Oswald:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,600&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600&family=Ubuntu:ital,wght@1,700&display=swap');

body{
    margin: 0;
    background: #F1F1F1"
}
/* ==========================   NAVBAR =============== */
nav{
    width: 100%;
    height: 56px;
    background: #303030;
    display: flex;
    align-items: center;
}
.profile h1{
    display: none;
}
.nav-items{
    width: 90%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 10%;
    /* border: 1px solid red; */
}
.logo .mobile{
    display: block;
}
.logo .desktop{
    display: none;
}

form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 70%;
    background: #303030;
    border-radius: 8px;
    border: 1px #616161 solid;
}
form:hover{
    border: 1px #E1E1E1 solid;
}
form:focus{
    border: 2px white solid;
}
form:active{
    border: 2px white solid;
}
form input{
    height: 100%;
    width: 80%;
    background: #303030;
    border: none;
    border-radius: 8px;
    outline: none;

}
form input::placeholder{
    color: #B5B5B5;
    font-size: 13px;
    display: flex;
    align-items: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 18.20px;
    word-wrap: break-word
}
form svg{
    width: 8%;
    margin-left: 10px;
    color: #B5B5B5;
}

.items{
    width: 22%;
    height: 80%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.items svg{
    width: 40%;
}
.profile{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#36FBA1 ;
    border-radius: 8px;
}
.profile p{
    color: rgba(0, 0, 0, 0.40);
font-size: 12px;
font-family: Inter;
font-weight: 500;
line-height: 15.60px;
word-wrap: break-word;
}

/* ========================== INFO BOX =============== */
.info-box{
    margin-top: 28px;
    height: 134px;
    width: 100%;
    background: #1A1A1A;
    display: flex;
    flex-wrap: wrap;
}
.info-text{
    width: 90%;
    padding-top: 10px;
    margin: 0 auto;
    display: flex;

}
.info-text p{
    color: #E3E3E3;
font-size: 13px;
font-family: Inter;
font-weight: 500;
line-height: 18.20px;
word-wrap: break-word
}
.info-btn{
    width: 90%;
    margin: 0 auto;
  
}
.info-btn button{
    width: 120px;
    height: 30px;
    background: white; 
    box-shadow: 0px -1px 0px #B5B5B5 inset;
     border-radius: 6px;
      overflow: hidden;
       border: 1px rgba(0, 0, 0, 0.10) solid; 
    color: #323232;
    font-size: 12px;
    font-family: Inter;
    font-weight: 600;
    line-height: 15.60px;
    word-wrap: break-word;
    padding: 6px 12px;
}
/*======== SETUP GUIDE AREA ========*/
.setup{
    width: 100%;
    height: auto;
}
summary {
    list-style: none;
}

/* Remove the default list marker for the summary element */
summary::-webkit-details-marker {
    display: none;
}

/* Additional styling if needed */
.first-dropdown{
    width: 100%;
    margin-top: 5vh;
    height: auto;
    background: white; box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05); border: 1px #DBDBDB solid;
}
.first-area{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
}
.first-area .texts h1{
    color: #303030;
    font-size: 14px;
    font-family: Inter;
    font-weight: 600;
    line-height: 19.60px;
    word-wrap: break-word
}
.first-area .texts p{
    color: #303030;
    font-size: 13px;
    font-family: Inter;
    font-weight: 400;
    line-height: 18.20px;
    word-wrap: break-word;
}
.progress-bar-sec{
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    align-items: center;
}
.progress-bar-sec p{
    color: #303030;
    font-size: 12px;
    font-family: Inter;
    font-weight: 400;
    line-height: 15.60px;
    word-wrap: break-word; 
}
.progress-bar{
    width: 100px;
    height: 4px;
    border-radius: 28px;
    background:#E3E3E3 ;
}
.progress-bar::after{
    content: '';
    display: block;
    width: 25px;
    transition: 0.3s;
    height: 4px;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    background: #1A1A1A;
}
.arrow{
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.arrow.active{
    transform: rotate(180deg);
    border: 2px #005BD3 solid;   
    background: #F0F0F0;
}
.arrow:hover{
    background: #F0F0F0;
}
.step-1{
    background: #F3F3F3;
    width: 90%;
    margin: 0 auto;
    height: auto;
    padding: 8px;
    border-radius: 10px;
    display: flex;
    justify-content:space-between;
}
.check-box input[type=checkbox]{
    width: 24px;
    height: 24px;
    border-radius: 9999px;
    outline: none;
    border: 2.08px #8A8A8A dotted;
}
/* .arrow:active{
    background: #F0F0F0;
    border: 2px #005BD3 solid;
} */
@media screen and (min-width:1000px) {
    /* ==========================   NAVBAR =============== */
    .nav-items{
        width: 98%;
    }
    nav{
        background: #1A1A1A;
    }
    form{
        width: 30%;
    }
    form input{
        width: 90%;
    }
    .logo{
        width: 30%;
        /* border: 1px solid red; */
    }
    .logo .mobile{
        display: none;
    }
    .logo .desktop{
        display: block;
    }
    .items{
        width: 30%;
        justify-content: end;
    }
    .profile{
        height: 100%;
        width: 60%;
        border-radius: 8px;
        background: #303030;
        display: flex ;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        cursor: pointer;
    }
    .profile:hover{
        background-color: #616161;
    }
    .profile:active{
        box-shadow: 0px 0px 0px 3px #005BD3;
    }
    .profile p{
        width: 28px;
        background: #36FBA1;
        padding: 1px 2px;
        border-radius: 8px;
        height: 28px;
        display: flex ;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        margin-right: 5px;
        cursor: pointer;
    }
    .profile h1{
        display: block;
        color: #E3E3E3;
        font-size: 12px;
        font-family: Inter;
        font-weight: 500;
        line-height: 15.60px;
        padding-left: 10px;
        word-wrap: break-word;
        cursor: pointer;
    }
    form svg{
        width: 3%;
        margin-left: 10px;
    }
    form input::placeholder{
        font-size: 15px;
    }
    .items svg{
        width: 5%;
        background:#303030 ;
        height: 100%;
        padding: 0 8px;
        border-radius: 8px;
        cursor: pointer;
    }
    .items svg:hover{
        background-color: #616161;
    }
    .items svg:active{
        box-shadow: 0px 0px 0px 3px #005BD3;
    }
    main{
        width: 60%;
        margin: 0 auto;
    }
    .info-text
    {
       justify-content: space-between;
       width: 80%;
       margin: 0;
    }
    .info-text p{
        margin-left: 10px;
    }
    .info-box{
        align-items: center;
        height: 56px;
        border-radius: 8px;

    }
    .info-btn{
        /* border: 1px solid red; */
        width: 10%;
    }
    .first-dropdown{
        height: auto;
        border-radius: 18px; border: 1px #DBDBDB solid; 
    }
}